# # Dependencies
# node_modules/
# vendor/
# # Database and Backups
# # *.sql
# # storage/backups/
# #citilife_db.sql
# # Configuration
# #.env
# #app/config/database.php
# # IDE and OS
# .vscode/
# .idea/
# .DS_Store
# Thumbs.db
# composer.phar