RewriteEngine On

# Existing files
RewriteCond %{REQUEST_FILENAME} -f [OR]

# Existing directories
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect everything else to public
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]